# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iml
*.iws
.vscode/
.project
.classpath
.settings/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

docs/*